

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');
/*font-family: 'Domine', serif;*/

html{
	font-size: 10px;
}
*{
	box-sizing: border-box;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	color: #333332;
	background: #e5e5e5;
	line-height: 3.8rem;
}
h1{
	margin: 0;
}
img{
	max-width: 100%;
	vertical-align: middle;
}
a{
	text-decoration: none;
}
p{
	margin: 0;
}
.wrapper{
	max-width: 1170px;
	margin: 80px auto;
	background: #ffffff;
	box-shadow:  0px 0px 50px 1px rgba(0, 0, 0, 0.4);
}
.text-right{
	text-align: right;
}
.content{
	max-width: 780px;
	margin: 0 auto;
}

header{
	display: block;	
	padding-top: 30px;
	padding-bottom: 30px;	
	width: 100%;
	line-height: normal; ;	
}
.head-container{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.head-container h1 a{
	font-size: 1.8rem;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.8);
	transition: color 0.2s ease-out;
	margin: 0;
}
.head-container h1 a:hover{
	color: #000;
}
.head-container .logo{

}
.head-container .logo p{
	font-family: 'Helvetica', sans-serif;
	font-size: 1.2rem;
	color: rgba(0, 0, 0, 0.8);
}

.head-container nav{
	display: inline-block;
	width: 50%;
}
.head-container nav ul{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.head-container nav ul li a.active{
	color:#000;
}
.head-container nav ul li a{
	font-size: 1.4rem;
	color: rgba(69, 69, 69, 0.8);
	line-height: 2.4rem;
	transition: color 0.2s ease-out;
	text-transform: uppercase;
}

.head-container nav ul li a:hover{
	color: #000;
}
.slider{
	max-width: 100%;
	margin-bottom: 60px;
	max-height: 40rem;
	min-height: 20rem;
	overflow: hidden;
	position: relative;
}
.slider img{
	margin: -23.9rem 0;
}
.slider-container{	
	width: 100%;
	height: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;	
}
.slider-container h2{
	display: block;
	font-family: 'Domine', serif;
	font-size: 4rem;
	color: #ffffff;
	text-shadow: 0 2px 25px rgba(0, 0, 0, 0.3);
	text-align: center;
	margin: 0;
	
}
.slider-container .slider-text{
	font-family: 'Helvetica', sans-serif
	font-size: 2.4rem;	
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	text-shadow:  0px 2px 20px rgba(0, 0, 0, 0.15);
	transition: color 0.2s ease-out;
}
.slider-container .slider-text:hover{
	color: #000;
}

.main-content{
	display: block;	
}
.article-container{
	width: 100%;
}
.article-container p{
	margin-bottom: 6rem;
}
.article-container span{
	font-weight: bold;
}
main .image-container .image-title{
	font-family: 'Arial', sans-serif;
	color:#ababab;
	font-size: 1.4rem;
	line-height: 2.6rem;
	text-align: center;
	margin: 3rem;
}
footer .copyright{
	max-width: 100%;
	background: rgba(0, 0, 0, 0.85);
	display: block;
	padding: 25px 0;
	color:#a6a6a6;
	font-size: 1.3rem;


}
footer .copyright p{
	margin: 0 auto;
	text-align: center;

}
footer .copyright p span{
	color: #fff;
}
footer .social-box{	
	max-width: 100%;
	background: rgba(0, 0, 0, 0.9);
	display: block;
	padding: 30px 0;
	font-size: 2rem;
	display: flex;
	justify-content: center;	
}

footer .social-box ul{	
	display: inline-flex;	
}

footer .social-box ul li {
	margin: 0.3rem;
	width: 4rem;
	height: 4rem;
}

.social-box a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 0.2rem;
	color: #fff;
	opacity: 0.9;
	transition: background 0.2s ease-out;
}
.social-box a:hover{
	opacity: 1;
}


.social-box a.tw {
	
	background: #00b0ef;
}
.social-box a.bh{
	background:#0066ff;
}
.social-box a.db{
	background:#0083d1;
}
.social-box a.fb{
	background: #265999;
}
.social-box a.rss{
	background:#ff7600 ;
}
@media screen and (max-width:767px){
	html{
		font-size: 7px;	
	}
	.wrapper{
		padding: 0 1rem;
	}
}
@media screen and (max-width:387px){
	html{
		font-size: 5px;
	}
	.wrapper{
		padding: 5px;
	}
	
	.slider{
		display: none;
	}

}